#github:hover{
 box-shadow: 1px 1px 25px #F39F5A;


}
#cv:hover{
 box-shadow: 1px 1px 25px #F39F5A;

}
#linkedin:hover{
    box-shadow: 1px 1px 25px #F39F5A;
   
   }
   #gmail:hover{
    box-shadow: 1px 1px 25px #F39F5A;
   

   
   }


p:hover{
color:rgb(253, 253, 253)  !important;

text-decoration: #F39F5A underline ;

}
